.search-result-wrapper {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	max-width: 70%;
	margin: 2em auto;
	height: 250px;
	.no-photo {
		text-align: center;
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0 auto;
	}
	img {
		width: 50%;
		object-fit: cover;
	}

	.search-result-text {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0.5em 1.5em;
		@include black-border;

		.search-result-header {
			h2 {
				margin-bottom: 0;
			}

			h3 {
				margin-top: 0;
			}
		}

		.search-result-footer {
			p {
				margin: 0;
			}
		}
	}
}
