.search-result-wrapper {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	max-width: 70%;
	margin: 2em auto;
	height: 250px;
	
	@media only screen and (max-width: 750px) {
		 max-width: 90%;
	}
	
	.no-photo {
		text-align: center;
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0 auto;
	}
	img {
		width: 50%;
		object-fit: cover;
		border-right: 6px solid #000;
	}
	@include black-border-thick;

	.search-result-text {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0.5em 1.5em;

		.search-result-header {
			h2 {
				margin-bottom: 0;
			}

			h3 {
				margin-top: 0;
			}
		}

		.search-result-footer {
			p {
				margin: 0;
			}
		}
	}
}

.search-result-text {
	p {
		&.studio-name {
			font-weight: 700;
		}
		
		&.studio-country {
			
		}
		
		&.studio-commission {
			font-style: italic;
			margin-bottom: $layout__indent-small !important;
		}			
	}
}

.event-image-area {
	img {
		max-width: 50%;
		
		@media only screen and (min-width: 700px) {
			max-width: 100%; 
		}
	}
}

.cpt-event-meta {
	text-align: right;
	padding-right: 	$layout__indent-xlarge;
	width: 100%;
}

.event-secondary-meta {
	padding-left: $layout__indent-xlarge;
}