@import '../variables-site/variables-site';

#page {
    display: grid;
    grid-template-areas: 
    	"header header header" 
    	"article article article" 
    	"footer footer footer";
    grid-template-columns: 25% 1fr 25%;
    grid-gap: $layout__indent-large;
    
	#masthead {
	    grid-area: header;
	}
	
	#colophon {
		grid-area: footer;
	}
	
	#content {
	    grid-area: article;
	    padding: 0 $layout__indent-small;
	}    
}

/* Fix admin bar position on frontend */
#wpadminbar {
	position: absolute;
}
