@import '../variables-site/variables-site';


.subscription-section {
	background-image: url('../../img/subscription-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding:60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	#searchform {
		width:50%;
	}
	h2 {
		color:$color__text-footer;
		text-transform: uppercase;
	}
	#subscribe {
		width: 80%;
	}
}


.main-footer {
	background-color: $color__background-footer;
	color: $color__text-footer;
	padding: $layout__indent-large	$layout__indent-small;
	.wrapper {
		display: flex;
		justify-content: space-between;
		padding: $layout__indent-large 0;
		.site-info,
		.site-social {
			max-width: 250px;
			@include font-size(.8);

			a {
				@include font-size(.8);
			}

			li {
				margin-bottom: 5px;
			}
		}

		.site-info {
			ul {
				margin: 10px 0;
			}
		}

		.site-social {
			text-align: right;

		}
	}

	a {
		color: $color__text-footer;
	}

	ul.menu {
		padding: 0;
		margin: 0;
	}
}

.footer-logo > a > img { // ensures the logo in footer is inverted
	filter: invert(100%);
}
