@import '../variables-site/variables-site';

#page {
	display: grid;
	grid-template-columns: 20% 1fr 20%;
	//     grid-gap: $layout__indent-small;
	grid-template-areas:
		'header header header'
		'article article article'
		'footer footer footer';

	#masthead {
		grid-area: header;
	}

	#colophon {
		grid-area: footer;
	}

	#content {
		grid-area: article;
		padding: 0 0;
	}
}

/* Fix admin bar position on frontend */
#wpadminbar {
	position: absolute;
}

.type-page {
	padding: 10%;
}
