@import '../variables-site/variables-site';
@import '../mixins/mixins-master';

	//this styles the small header of all CPTs
	.content-header {
		border-bottom: 4px solid black;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		> a {
			@include font-size;
		}
		p {
			margin:0;
			@include font-size;
			font-weight:bold;
		}
		h2 {
			margin:0;
		}
	}


div.image-area-wrapper { 	//this styles the image and the text on top of it
	position: relative;
	z-index: -1;
	width: max-content;
	height: min-content;
	img { // ALL hero images
		max-width: 700px;
		max-height:600px;
	}
	h2 { // ALL headers
		position: absolute;
		top: 5%;
		left: 100%;
		transform: translate(-50%, 0);
	}
	.star-rating { // ALL
		@extend h2;
		top:20%;
	}
	.date { // EVENT only
		@extend h2;
		top: 27%;
	}
	p { // ARTIST and STUDIO bio only
		font-size: 0.8rem;
		width: 30vw;
		position: absolute;
		top: 100%;
		left: 10%;
		transform: translate(0, -50%);
	}
	.event-description { // EVENT only
		@extend h2;
		top:70%;
	}
}

.hero-section {
	border-bottom: 4px solid black;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.art-style {
	margin-top: 3vh;
	li {
		margin-left:auto;
		margin-right:0;
		text-align: right;
	}
}

.tools {
	margin-top: 3vh;
	li {
		margin-left:auto;
		margin-right:0;
		text-align: right;
	}
}

.hero-side-content {
	margin-bottom: 5vh;
	max-height: 650px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-end;
	> a {
		width: 200px;
		height: 76px;
	}
}
.get-in-touch,
.get-tickets {
    background-image: url(../../img-artist/link-button.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
		justify-content: center;
		width:min-content;
		padding: 2em 4em;
		white-space: nowrap;
}

.event-side-content{
	@extend .hero-side-content;
	justify-content: flex-end;
	.get-tickets.large-link {
		font-size: 2rem;
		padding: 3em 6em;
	}
}

.gallery {
	padding: 0 0 5vh 0;
	border-bottom: 4px solid black;
}

.images-grid {
	height: 50vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	margin: 0;
	padding: 0;
	> li {
		height: 50vh;
		> img {
			height: 100%;
		}
	}
}

.reviews-grid {
	height: 50vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.5rem;
	margin: 0;
	padding: 0;
	p {
		width: 100%;
	}
}
