@import '../variables-site/variables-site';

#masthead {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	padding: $layout__indent-large $layout__indent-small;
	border-bottom: 4px solid $color__border;
	background-color: #fff;
	
	.site-branding,
	.secondary-navigation {
		width: 25%;
	}
	
	.secondary-navigation {
		text-align: right;
	}
	
	#site-navigation {
		width: 50%;
	}
	
	.site-title {
		@include font-size(1);
		font-weight: normal;
		margin: 0;
	}	
}

