@import '../variables-site/variables-site';
@import '../mixins/mixins-master';

	//this styles the small header of all CPTs
	.content-header {
		border-bottom: 4px solid black;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		> a {
			@include font-size;
		}
		p {
			margin:0;
			@include font-size;
			font-weight:bold;
		}
		h2 {
			margin:0;
		}
	}

	.content-padding{
		padding:0 20px;
	}

div.image-area-wrapper { 	//this styles the image and the text on top of it
	position: relative;
	z-index: -1;
	width: max-content;
	height: min-content;
	img { // ALL hero images
		max-width: 700px;
		max-height:500px;
		object-fit: contain;
		object-position: center;
	}
	h2 { // ALL headers
		position: absolute;
		top: 5%;
		left: 100%;
		transform: translate(-50%, 0);
	}
	.accommodation {
		font-weight:bold;
		position: absolute;
		top: 30%;
		left: 100%;
		transform: translate(-50%, 0);
		width: 200px;
	}
	.star-rating { // ALL
		@extend h2;
		top:20%;
	}
	.date { // EVENT only
		@extend h2;
		top: 27%;
	}
	p { // ARTIST and STUDIO bio only
		font-size: 0.8rem;
		width: 500px;
		max-height:200px;
		position: absolute;
		top: 100%;
		left: 10%;
		transform: translate(0, -50%);
	}
	.event-description { // EVENT only
		@extend h2;
		top:70%;
	}
}

.hero-section {
	border-bottom: 4px solid black;
	padding-bottom: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.art-style {
margin-top: 15px;
display:flex;
flex-direction: column;
justify-content: right;
overflow:scroll;
h2 {
	margin-left:255px;
}
	li {
		margin-left:auto;
		margin-right:0;
		text-align: right;
	}
}

.tools {
	margin-top: 15px;
	h2 {
		margin-left:150px;
	}
	li {
		margin-left:auto;
		margin-right:0;
		text-align: right;
	}
}

.hero-side-content {
	margin-bottom: 5vh;
	max-height: 650px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-end;
	> a {
		width: 200px;
		height: 76px;
	}
}

.event-side-content{
	@extend .hero-side-content;
	justify-content: flex-end;
	.get-tickets.large-link {
		font-size: 2rem;
		padding: 3em 6em;
	}
}

.gallery {
	padding:60px 0;
}

.images-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	margin: 0;
	padding: 0;
	z-index:-4;
	position:relative;
	
	@media only screen and (max-width: 900px) {
		grid-template-columns: repeat(3, 1fr);
	}
	
	@media only screen and (max-width: 700px) {
		grid-template-columns: repeat(2, 1fr);
	}
	
	
	> li {
		height: 300px;
		
		> img {
			height: 100%;
			object-fit: cover;
		}
	}
}

.gallery-section-wrapper {
	position: relative;
	margin-bottom:$layout__indent-xlarge;
}

.gallery-title{
	font-size: 2.6rem;
	color:$color__border;
	z-index: -2;
	margin: $layout__indent-xlarge $layout__indent-xlarge calc(-#{$layout__indent-xlarge} * 1.5) 7%;
}

.image-border{
	border:4px solid $color__border;
}

.custom-post-header {
	background-size: cover;
	background-position: center center;
	height: 70vh;
	position: relative;
	margin-bottom: $layout__indent-xlarge;
}

.custom-post-hero-meta {
	position: absolute;
	top: 5%;
	left: 5%;
	background-color: white;
	padding: $layout__indent-small $layout__indent-xlarge;
	@include black-border();
	
	.commission{
		font-size: 11px;
		font-style: italic;
	}
	
	h2 {
		margin-top: $layout__indent-small;
	}
}

.studio-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	&-image {
		width: 50%;
		background-position: center center;
		background-size: cover;
		
		@media only screen and (max-width: 800px) {
			width: 100%;
			min-height: 330px;
			order: 2;
			margin-top: $layout__indent-small;
		}
	}
	
	&-meta {
		width: 50%;
		padding-left: $layout__indent-xlarge;
		
		@media only screen and (max-width: 800px) {
			width: 100%;
		}
				
		ul {
			padding-left: 0;
			margin-left: 0;
		}
	}
	
	&-bio {
		font-size: 14px;
		letter-spacing: 0;
		padding-right: $layout__indent-xlarge * 2;
	}
}