// This styles the featured section on the front page.
@import '../variables-site/variables-site';

.featured-section {
  z-index:-1;
  margin:100px 20px 0;
  position:relative;
  h2 {
    @include font-size(2.5);
    color: $color__link-black;
  }
}

.featured-artist{
  border-bottom: 4px solid $color__border;
}

.featured-section-wrapper{
  margin:150px 0 100px;
}

.featured-title{
  position:absolute;
  top: 0;
  left: 20%;
  transform: translate(0, -90%);
}

.featured-gallery{
  margin:0;
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 40px));
  grid-template-rows:450px;
  grid-gap:66px;
  article {
    height:100%;
    width:100%;
    padding-bottom:20px;
  }
  article:nth-child(2) {
    img {
    border:4px solid $color__border;
    }
  }
  a {
    margin:0;
    height:100%;
    max-width:100%;
    border:none;
    display:flex;
    flex-direction: column;
    .featured-information-wrapper{
      width:100%;
      padding:10px;
      font-weight:bold;
    }
    img {
      border:none;
      width:100%;
      height:400px;
      object-fit: cover;
    }
  }
  p{
    margin:0;
  }
}

div.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ng { //Error message
  margin:0;
  color:#ff0000;
  font-size: .8rem;
  border:none;
}
