button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	border: 4px solid #000;
	border-color: $color__border-button;
	background: $color__background-button-white;
	color: rgba(0, 0, 0, 0.8);
	@include font-size(0.75);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	font-family: $font__main;
	font-weight: 700;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.search-button {
	border: none;
}

.button-focused {
	background: black;
	color: white;
}
