button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}



// 404 Page search button
.error-page-content{
	#searchsubmit{
		background:$color__link-black;
		color:#fff;
		border-radius: 0;
		padding: .7em .7em;
		font-size: 1rem;
		text-transform: uppercase;
	}
}
