input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 4px solid #000;
	line-height: 2;
	padding: 3px;
	margin: 1vh 0;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="checkbox"] {
	border: 4px solid $color__border;
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}


label {
	font-weight: bolder;

}

fieldset {
	border: 4px solid $color__border;
}
