input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 4px solid #000;
	line-height: 2;
	padding: 3px;
	margin: 1vh 0;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}


label {
	font-weight: bolder;

}

.subscription-signup {
	background-color: $color__background-pre;
	padding: $layout__indent-xlarge;
	color: $color__text-main;
	
	form {
		label {
			font-size: 0;
			line-height: 0;
			
			input {
				display: block;
				margin: 10px auto;
				width: 33%;
				text-align: center;
				
				@media only screen and (max-width: 900px) {
					width: 50%;
				}
				
				@media only screen and (max-width: 600px) {
					width: 90%;
				}
			}
		}
	}
	
	p {
		color: $color__text-main;
		text-align: center;
		font-size: 22px;
		font-weight: 700;
		margin: 0;
	}
}

.page-content {
	input[type=submit] {
		display: block;
		margin: 0 auto;
	}
}
