@import '../variables-site/variables-site';

.search-reveal {
	background-image: url(../../img/search.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	height: 30px;
	width: 30px;	
	min-width: 30px;
	overflow: hidden;
	direction: rtl;
	margin-right: $layout__indent-small;	
		
	label {
		display: block;
		height: 100%;
		cursor: pointer;
	}
						
	input[type=search] {
		outline:none;		
		border: none;		
		border-bottom: 4px solid $color__link-black;	
		padding: 0 5px 0 0;
		margin: 0 55px 0 0;
		background: transparent;
	    color: $color__link-black;
	    font-weight:700;
	    text-transform: uppercase;
	    font-size: 14px;		
		width: 0;
		height: 30px;
		transition: width 300ms ease-in;	
		direction: ltr;
	}
	
	@include placeholder {
	    color: $color__link-black;
	    font-weight:700;
	    text-transform: uppercase;
	}

	&.revealed {
		width: 100%;
		max-width: 250px;	
		overflow: visible;
		
		label {
			cursor: default;
		}
			
		input[type=search] {
			width: calc(100% - 55px);
		}
	}
	
	.search-submit {
		display: none;
	}
}