@import '../variables-site/typography';

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__main;
	letter-spacing: $font__letter-spacing;
}

h1 {
	font-family: $font__main;
}

.headings-box {
	@include headings-box;
}
