@font-face {
    font-family: 'Bebas';
    src: url('Bebas-Regular.eot');
    src: url('Bebas-Regular.eot?#iefix') format('embedded-opentype'),
        url('Bebas-Regular.woff2') format('woff2'),
        url('Bebas-Regular.woff') format('woff'),
        url('Bebas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('Bebas-Regular_1.eot');
    src: url('Bebas-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Bebas-Regular_1.woff2') format('woff2'),
        url('Bebas-Regular_1.woff') format('woff'),
        url('Bebas-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

