@import '../variables-site/typography';




a {
	text-decoration: none;
	font-family: $font__main;

	color: $color__link-black; // I only styled this here, because there is only one type of <a>

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	&.white-link { // class for links that have a black background
		color: $color__link-white;
	}

	&.black-link { // class for links that have a white background
		color: $color__link-black;
	}
}

